{% extends "base.html" %}
{% block main %}
<!-- Banner -->
<!-- Two -->
<section id="two">
  <div class="inner" style="padding: 20px 0 1em 0">
    {% for error in errors %}
    <p style="color: red">{{ error }}</p>
    {% endfor %}
    <h1>Ajouter un nouveau livre par ISBN</h1>
    <form onsubmit="isbn();return false;">
      <input type="text" name="isbnLink" value="" />
      <input type="submit" value="Valider" />
    </form>
	  <a style ='text-decoration:none !important; border:none;margin-top:10px;' href="/scan_isbn"><button style="margin-bottom:25px;">Scannez</button></a>
    <hr />
  </div>
</section>

<script>
  function isbn() {
    var isbnLink = document.getElementsByName("isbnLink")[0].value;
    window.location.href = "/isbn/" + isbnLink + "/manual";
  }
</script>
{% endblock %}
