{% set hideNav = True %}
{% extends "base.html" %}

{% block main %}
<!-- Banner -->
<!-- Two -->
<section id="two">
	<div class="inner" style = "padding: 20px 0 1em 0;">
		<header class="major">
			<h2>Connexion</h2>
		</header>
		{% for error in errors %}
		    <p style="color: red">{{ error }}</p>
		{% endfor %}
		<form action="/auth/login" method="post">
			<p>
			    <p><label for="">Nom d'utilisateur</label></p>
			    <input type="text" name="username" value="{{ username }}" required>
			</p>
			<p>
			    <p><label for="">Mot de passe</label></p>
			    <input type="password" name="password" value="{{ password }}" required>
			</p>
			<input type="submit" value="Submit">
		</form>
	</div>				
</section>
{% endblock %}
