{% extends "base.html" %}
{% block main %}

<!-- Banner -->
	<!-- Two -->
<div class="inner" style = "padding: 20px 0 5em 5em;">
<div style="display:block; clear:both; float:none;">
<h3><strong><u>La Base de Données est obsolète</strong></u></h3>
	<p>Elle doit être mise à jour avant de pouvoir utiliser uBiblio. Ce procédé est automatique, et peut être effectué par n'importe quel administrateur en cliquant <a href="/updateDB">ici</a>. </p>
	<p>Avant de procéder, le système va tenter un backup automatique par mesure de sécurité. Ce backup sera visible dans la partie Gestion des sauvegardes accessible dans le menu principal, partie "Admin".</p>

<hr>

</div>

</div>
{% endblock %}
