{% extends "base.html" %}

{% block main %}
<!-- Banner -->
<!-- Two -->
<section id="two">
	<div class="inner" style = "padding: 20px 0 1em 0;">
		<header class="major">
			<h2>Federation Key Management</h2>
		</header>
		{% for error in errors %}
		    <p style="color: red">{{ error }}</p>
		{% endfor %}
		<form onsubmit="getPubkey();return false;">
			<p>
			    <p><label for="">URL -- Required</label></p>
			    <input id="addFed" type="text" name="url" value="" required>
			</p>
			<p>
			    <p><label for="">Verification Key (Optional)</label></p>
			    <input type="text" name="vkey" value="">
			</p>
			<input type="submit" value="Submit">
		</form>
<p>Instructions: You only need to enter the URL of their library. uBiblio will try and automatically fetch their verification key (it's just a public key). uBiblio will skip this step if you specify a key yourself.</p>

<p>Note: Adding another library's key will let them search and view your books. They must add your key to <i>their</i> library for your users to be able to search their library. Before they complete that step, their library will show up in the Advanced Search options, but searches won't work.</p>
	</div>				
</section>
<script>
async function getPubkey()
{
	vkeyURL = $("#addFed").val().replace(/\/?$/, '/') + "vkey";
	console.log(vkeyURL);
    var xhr = new XMLHttpRequest();
    xhr.open( "GET", vkeyURL, true );
	xhr.onreadystatechange = function () {
    if (xhr.readyState === 4 && xhr.status === 200) {
        submitVkey(xhr.responseText);
		
    }
};	
    xhr.send( null );
}
	
function submitVkey(newvkey){	
console.log(newvkey);
var xhr = new XMLHttpRequest()
var vkeyURL = $("#addFed").val();
var data = JSON.stringify({"url": vkeyURL, "vkey": newvkey});	
console.log(data);
xhr.open("POST", "/addVkey", false);
xhr.onreadystatechange = function () {
    if (xhr.readyState === 4 && xhr.status === 200) {     
		window.location.href = "/manageVkeys";
};		
}
xhr.send(data);
}	


</script>

{% endblock %}
