{% extends "base.html" %}
{% block main %}

<!-- Banner -->
	<!-- Two -->
<div class="inner" style = "padding: 20px 0 5em 5em;">
<div style="display:block; clear:both; float:none;">
<h3><strong><u>The Database is Out of Date</strong></u></h3>
	<p>It needs to be updated before uBiblio can be used. This process is automatic, and can be done by any Administrator by clicking <a href="/updateDB">here</a>. </p>
	<p>Before we begin, the system will attempt to automatically backup the database in case something goes wrong. This backup will be visible in the backup management interface acessible in the main menu under "Admin".</p>

<hr>

</div>

</div>
{% endblock %}
