{% extends "base.html" %}
{% block main %}

<!-- Banner -->
<!-- Two -->
	<section id="two">
		<div class="inner" style = "padding: 20px 0 1em 0;">

<h1>New User Link</h1>

{% for error in errors %}
    <p style="color: red">{{ error }}</p>
{% endfor %}
<div style="display:block; clear:both; float:none;">

<p> Right click and copy this link. Then send it to your new user. It is valid for 3 days, and will let them create a normal user account. It will only work one time.</p>
	<a href="/auth/create/{{ valid_uuid }}">Account creation link</a>
	</div>
			<br>
			<br>
<a style = "border:none;" href = "/userManagement"> <button>Back</button></a>


<hr>



</div>

</section>
{% endblock %}
