{% extends "base.html" %}
{% block main %}

<!-- Banner -->
<!-- Two -->
	<section id="two">
		<div class="inner" style = "padding: 20px 0 1em 0;">

<h1>Manage Verification Keys for Federation</h1>

{% for error in errors %}
    <p style="color: red">{{ error }}</p>
{% endfor %}

<a style ='text-decoration:none !important; border:none;margin-left:25px;' href="/newVkey"><button style="margin-bottom:25px;">Add New Key</button></a>
<h2 style="margin-top:25px; margin-bottom:15px;">Verification Key List</h2>

<div class="container">  
  <table>
    <thead class="visible@l">
      <tr>
        <th>URL</th>
        <th>Verification key</th>
		<th>Actions</th>  
      </tr>
    </thead>
    <tbody id = "tablebody">
{% if vkeys %}
{% for vkey in vkeys %}
		<tr>
			<td>{{ vkey.url }}</td>
			<td>{{ vkey.vkey[0:12] }}...</td>
			<td><a href="/deleteVkey/{{ vkey.id }}">Delete</a>&nbsp;&nbsp;&nbsp;<a href="/refreshVkey/{{ vkey.id }}">Refresh</a></td>
		</tr>
{% endfor %}
{% else %}
<td>No keys to display -- Federation disabled.</td>
			<td></td>
			<td></td>
		{% endif %}
    </tbody>
  </table>
  <div id="pagination">
  </div>
</div>

</div>
		
</section>



{% endblock %}
